# AI Lab-3
## Introduction to Pandas
### Author : Abdul Basit

### Lab Practice

In [1]:
#creating a Series using pandas
import pandas  as pd
s = pd.Series([5,7,8,9])
d = pd.DataFrame(s)
print(type(s),type(d),s.ndim,d.ndim)
print()
print(s)
print()
print(d)

<class 'pandas.core.series.Series'> <class 'pandas.core.frame.DataFrame'> 1 2

0    5
1    7
2    8
3    9
dtype: int64

   0
0  5
1  7
2  8
3  9

In [2]:
df = pd.DataFrame({'O':[78,58,75,69,38],'P':[89,36,25,64,32],'Q':[78,96,45,36,14]})
df

    O   P   Q
0  78  89  78
1  58  36  96
2  75  25  45
3  69  64  36
4  38  32  14

In [3]:
print (df['O'])
print (df['P'])
print (df['Q'])

0    78
1    58
2    75
3    69
4    38
Name: O, dtype: int64
0    89
1    36
2    25
3    64
4    32
Name: P, dtype: int64
0    78
1    96
2    45
3    36
4    14
Name: Q, dtype: int64

In [4]:
df.columns

Index(['O', 'P', 'Q'], dtype='object')

In [5]:
df.values

array([[78, 89, 78],
       [58, 36, 96],
       [75, 25, 45],
       [69, 64, 36],
       [38, 32, 14]])

In [6]:
print (df[['O','P']])
print(type(df['O']))

    O   P
0  78  89
1  58  36
2  75  25
3  69  64
4  38  32
<class 'pandas.core.series.Series'>

In [7]:
df.columns = ['Q','W','E']
df

    Q   W   E
0  78  89  78
1  58  36  96
2  75  25  45
3  69  64  36
4  38  32  14

In [8]:
print(df>88)
print(df[df>88])

       Q      W      E
0  False   True  False
1  False  False   True
2  False  False  False
3  False  False  False
4  False  False  False
    Q     W     E
0 NaN  89.0   NaN
1 NaN   NaN  96.0
2 NaN   NaN   NaN
3 NaN   NaN   NaN
4 NaN   NaN   NaN

In [9]:
#df means dataframe
df2 = pd.DataFrame({"A":[78,98,65,3,5],"B":[96,36,25,96,79],"C":[93,14,75,98,63]})
print(df2)
print()
print(df2[df>90])

    A   B   C
0  78  96  93
1  98  36  14
2  65  25  75
3   3  96  98
4   5  79  63

    A   B   C
0 NaN NaN NaN
1 NaN NaN NaN
2 NaN NaN NaN
3 NaN NaN NaN
4 NaN NaN NaN

In [10]:
#Filling NAN values with zeros
df3 = df2[df2>90]
print(df3.fillna(0))
print(df3)

#printing mean of A from df2
mean = df2['A'].mean()
mean

      A     B     C
0   0.0  96.0  93.0
1  98.0   0.0   0.0
2   0.0   0.0   0.0
3   0.0  96.0  98.0
4   0.0   0.0   0.0
      A     B     C
0   NaN  96.0  93.0
1  98.0   NaN   NaN
2   NaN   NaN   NaN
3   NaN  96.0  98.0
4   NaN   NaN   NaN

49.8

In [11]:
#generating random values with Pandas
import numpy as np
rv = pd.DataFrame(np.random.rand(15,5))
print(rv)
print()
print(rv.head(2))
print()
print(rv.tail(2))

           0         1         2         3         4
0   0.779491  0.217147  0.623617  0.881324  0.200774
1   0.450075  0.790481  0.733652  0.464160  0.405615
2   0.619680  0.268599  0.360738  0.476509  0.043103
3   0.678577  0.344958  0.727692  0.375570  0.675660
4   0.957743  0.775451  0.188886  0.698401  0.526148
5   0.271964  0.337844  0.463150  0.762777  0.926673
6   0.935221  0.961332  0.220421  0.768976  0.369466
7   0.332349  0.380312  0.394699  0.716772  0.954653
8   0.087029  0.016284  0.895085  0.862195  0.808234
9   0.108087  0.138155  0.932875  0.143634  0.118295
10  0.956590  0.864455  0.549267  0.308263  0.777440
11  0.740839  0.436682  0.787068  0.249747  0.928975
12  0.759342  0.114882  0.261931  0.781453  0.831070
13  0.614651  0.122419  0.717088  0.517895  0.766777
14  0.111401  0.925005  0.267503  0.305395  0.587433

          0         1         2         3         4
0  0.779491  0.217147  0.623617  0.881324  0.200774
1  0.450075  0.790481  0.733652  0.464160  0.405615

           0         1         2         3         4
13  0.614651  0.122419  0.717088  0.517895  0.766777
14  0.111401  0.925005  0.267503  0.305395  0.587433

In [12]:
#appending dataframes to new data frame
df4 = pd.DataFrame() #creating a num dataframe
df4 = df2.append(df3,ignore_index='True')
print(df4)

      A     B     C
0  78.0  96.0  93.0
1  98.0  36.0  14.0
2  65.0  25.0  75.0
3   3.0  96.0  98.0
4   5.0  79.0  63.0
5   NaN  96.0  93.0
6  98.0   NaN   NaN
7   NaN   NaN   NaN
8   NaN  96.0  98.0
9   NaN   NaN   NaN

In [2]:
# Dataset Link here
# https://www.kaggle.com/gpreda/covid19-tweets?select=covid19_tweets.csv

In [13]:
#Reading data files using Pandas
data = pd.read_csv('../input/covid19-tweets/covid19_tweets.csv')
data.head(8)

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
0,ᏉᎥ☻լꂅϮ,astroworld,wednesday addams as a disney princess keepin i...,2017-05-26 05:46:42,624,950,18775,False,2020-07-25 12:27:21,If I smelled the scent of hand sanitizers toda...,NaN,Twitter for iPhone,False
1,Tom Basile 🇺🇸,"New York, NY","Husband, Father, Columnist & Commentator. Auth...",2009-04-16 20:06:23,2253,1677,24,True,2020-07-25 12:27:17,Hey @Yankees @YankeesPR and @MLB - wouldn't it...,NaN,Twitter for Android,False
2,Time4fisticuffs,"Pewee Valley, KY",#Christian #Catholic #Conservative #Reagan #Re...,2009-02-28 18:57:41,9275,9525,7254,False,2020-07-25 12:27:14,@diane3443 @wdunlap @realDonaldTrump Trump nev...,['COVID19'],Twitter for Android,False
3,ethel mertz,Stuck in the Middle,#Browns #Indians #ClevelandProud #[]_[] #Cavs ...,2019-03-07 01:45:06,197,987,1488,False,2020-07-25 12:27:10,@brookbanktv The one gift #COVID19 has give me...,['COVID19'],Twitter for iPhone,False
4,DIPR-J&K,Jammu and Kashmir,🖊️Official Twitter handle of Department of Inf...,2017-02-12 06:45:15,101009,168,101,False,2020-07-25 12:27:08,25 July : Media Bulletin on Novel #CoronaVirus...,"['CoronaVirusUpdates', 'COVID19']",Twitter for Android,False
5,🎹 Franz Schubert,Новоро́ссия,🎼 #Новоро́ссия #Novorossiya #оставайсядома #S...,2018-03-19 16:29:52,1180,1071,1287,False,2020-07-25 12:27:06,#coronavirus #covid19 deaths continue to rise....,"['coronavirus', 'covid19']",Twitter Web App,False
6,hr bartender,"Gainesville, FL",Workplace tips and advice served up in a frien...,2008-08-12 18:19:49,79956,54810,3801,False,2020-07-25 12:27:03,How #COVID19 Will Change Work in General (and ...,"['COVID19', 'Recruiting']",Buffer,False
7,Derbyshire LPC,NaN,NaN,2012-02-03 18:08:10,608,355,95,False,2020-07-25 12:27:00,You now have to wear face coverings when out s...,NaN,TweetDeck,False

In [14]:
print(data.shape)

(179108, 13)

In [15]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179108 entries, 0 to 179107
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   user_name         179108 non-null  object
 1   user_location     142337 non-null  object
 2   user_description  168822 non-null  object
 3   user_created      179108 non-null  object
 4   user_followers    179108 non-null  int64
 5   user_friends      179108 non-null  int64
 6   user_favourites   179108 non-null  int64
 7   user_verified     179108 non-null  bool
 8   date              179108 non-null  object
 9   text              179108 non-null  object
 10  hashtags          127774 non-null  object
 11  source            179031 non-null  object
 12  is_retweet        179108 non-null  bool
dtypes: bool(2), int64(3), object(8)
memory usage: 15.4+ MB
None

In [16]:
data.describe()

       user_followers   user_friends  user_favourites
count    1.791080e+05  179108.000000     1.791080e+05
mean     1.090555e+05    2121.701566     1.444411e+04
std      8.414670e+05    9162.553072     4.452270e+04
min      0.000000e+00       0.000000     0.000000e+00
25%      1.720000e+02     148.000000     2.060000e+02
50%      9.920000e+02     542.000000     1.791000e+03
75%      5.284000e+03    1725.250000     9.388000e+03
max      4.944256e+07  497363.000000     2.047197e+06